@{
    ViewData["Title"] = "About";
}

<div>
    <h1>Welcome</h1>
    <p>This is the About page.</p>
    <p>Student ID: @ViewData["StudentId"]</p>
    <p>Student Name: @ViewBag.StudentName</p>
    <p>Student Age: @TempData["StudentAge"]</p>
</div>
